{% extends 'home/base.html' %}
{#
参考代码:
    bootstrap媒体对象: https://v3.bootcss.com/components/#panels
    bootstrap面板对象: https://v3.bootcss.com/components/#panels-heading

#}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#md-3").addClass('active');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {% include 'home/usermenu.html' %}

        <div class="col-md-9">
            <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>
                    评论列表
                </h3>
            </div>
            <div class="panel-body">

                {% for comment in commentsPageObj.items %}
                    <div class="box-comment">
                        <img class="img-circle img-sm"
                             src="{{ app.config['USER_FACE_DIR']+'/'+comment.user.face}}"
                             alt="User Image">
                        <div class="comment-text">
                <span class="username">
                    {{ comment.user.name }}
                    <span class="text-muted pull-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        &nbsp;
                        {{ comment.addtime }}
                    </span>
                </span>
                            关于电影<a>《{{ comment.movie.name }}》</a>的评论：{{ comment.content }}
                            <br><a class="label label-danger pull-right"
                                   href="{{ url_for('home.comment_del', id=comment.id) }}">删除</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    {% import 'macro/pages.html' as pages %}

    {{ pages.paginate(commentsPageObj,'home.comments') }}
{% endblock %}

